.app {
    display: flex;
    justify-content: center;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
                rgba(0, 0, 0, 0.5)), 
                url('https://cutewallpaper.org/21/wallpaper-matrix/73+-Blue-Matrix-Wallpapers-on-WallpaperPlay.jpg');
    display: flex;
    justify-content: center;
    margin: 50px;
    background-color:black;
    color:white;
}

table{
    display: flex;
    justify-content: center;
    table-layout: auto;
}

td{
    width: 50px;
    height: 50px;
    border-radius: 5 px;
    border-style: solid;
    color:black;
    background-color: rgb(28, 92, 41);
}

.cell {
    color: "transparent";
}

.buttons {
    display: flex;
    justify-content: center;
}

button{
    display: inline-block;
    background-color: rgb(52, 149, 72);
    border: 3px solid black;
    border-radius: 50px;
    font-size: 25px;
    margin: 10px;
    outline: none;
    border: none;
}

button:hover{
    background-color: rgb(28, 92, 41);
}

#color-selection-panel{
    display:flex;
    margin-top: 1.5em;
    align-items: center;
}

select{
    width: 10em;
    height: 2em;
    margin-left: 10px;
    border-radius: 50px;
}

.red{
    background-color: red
}

.blue{
    background-color: blue
}

.green{
    background-color: green
}

.yellow{
    background-color: yellow
}

.orange{
    background-color: orange
}

.purple{
    background-color: purple
}

.pink{
    background-color: pink
}

.brown{
    background-color: brown
}